<style>
@media only screen and (min-width: 992px) {
      .assign-course-teacher{
      height: 80vh;
    }
  }
</style>


<div class="container py-md-0 py-5">
  <div class="d-flex justify-content-center align-items-center assign-course-teacher">
    <div class="col-md-8 px-lg-5">
      <div class="px-lg-5">
        <form action="/admin-dashboard/assign-course-teacher" method="post">
          <h4 class="mb-4 text-center">Add Course Teacher</h4>

          <% if (msg) { %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          <% } %>

          <div class="mb-3">
            <label for="courses" class="form-label">Choose a course:</label>
            <select name="course_id" class="form-select">
              <% courses.forEach(course => { %>
              <option value=<%= course._id %>>
                <%= course.name %>
              </option>
              <% }); %>
            </select>
          </div>

          <div class="mb-3">
            <label for="teachers" class="form-label">Choose a teacher:</label>
            <select name="teacher_id" class="form-select">
              <% teachers.forEach(teacher => { %>
              <option value=<%= teacher._id %>>
                <%= teacher.email %>
              </option>
              <% }); %>
            </select>
          </div>

          <div class="text-center "><button class=" btn btn-info px-4 text-white" type="submit">Add</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
