<!-- courses.ejs -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 section-common ">
      <h4 class="my-4 text-center">Courses</h4>

      <table class="table table-bordered text-white text-center" >
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Course Code</th>
            <th>Teacher</th>
          </tr>
        </thead>
        <tbody>
          <% courses.forEach(function(course) { %>
          <tr>
            <td><%= course.name %></td>
            <td><%= course.code %></td>
            <td>
              <form action="/enroll" method="post">
                <input type="hidden" name="courseId" value="<%= course._id %>">
                <!-- <button type="submit" class="btn btn-primary">Enroll</button> -->
                <% if (enrolledCourseIds.includes(course._id.toString())) { %>
                Enrolled
                <% } else { %>
                <a href="/student/enroll?student_id=<%= student_id %>&course_id=<%= course._id %>" class="btn btn-primary">Enroll</a>
                <% } %>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>

    </div>
  </div>
</div>