<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Take Attendance</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 py-md-5 bg-dark text-light border border-secondary px-5">
        <h4 class="text-center mb-5">Take Attendance</h4>
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <% enrolledStudents.forEach((student, index) => { %>
              <% let imageSrc = student.student_id.image || "img1.png"; %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img class="d-block mx-auto" style="height: 300px; width: 250px;" onClick="myfunc('<%= student.student_id._id %>', '<%= course_id %>','<%= date %>')" id="<%= student.student_id._id %>" src="/uploads/<%= imageSrc %>" alt="Student Image" data-student-email="<%= student.student_id.email %>">
                <h4 class="text-center mt-3">
                  <%= student.student_id.name %>
                </h4>
                <h4 class="text-center">
                  <%= student.student_id.email %>
                </h4>
              </div>
            <% }) %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script>
    function myfunc(student_id, course_id, date) {
      const attendance_data = { student_id, course_id, date };
      $.ajax({
        url: '/attendance/insert',
        method: 'POST',
        data: { attendance_data: attendance_data },
        success: function(data) {
          const studentImage = document.getElementById(student_id);
          console.log(data.msg)
          if (data.msg === "New Attendance Recorded") {
            studentImage.style.border = "5px solid green"; 
          } else {
            studentImage.style.border = "5px solid red"; 
          }
        },
        error: function(xhr, status, error) {
          console.error(error);
        }
      });
    }

    document.addEventListener('keydown', function(event) {
      if (event.code === 'ArrowLeft') {
        event.preventDefault();
        document.querySelector('.carousel-control-prev').click();
      } else if (event.code === 'ArrowRight') {
        event.preventDefault();
        document.querySelector('.carousel-control-next').click();
      }
    });
  </script>
</body>
</html>
